= content_for :title, t('.title')
= content_for :content_header do
  %h1= t('.title')
  %h2= t('.subtitle')
.text
  %h2 The Basics
  %h3 What's "roundseeding?"
  %p Roundseeding is the collaborative way to finance and increase awareness of your business, project or campaign. Many projects fail to launch due to funding constraints; others obtain funding, but lack visibility. We aim to solve both issues by making it easier to reach far-flung audiences that can “crowd” together as customers, backers, or both, to help turn your goals into realities.
  %p Roundseeding isn't primarily about raising funds, it's about reaching an audience.  Think about it, money doesn't make a company successful - success depends on the desirability of a company's product or service.
  %p The focus of fundraising then shouldn't be about how much money you can raise, but in connecting with those that value your efforts most. (Fans, users, customers and kindred spirits.)
  %ol
    %li Bullet Point #1
    %li Bullet Point #2
    %li Bullet Point #3
  %h3 How can RoundSeed help my project?
  %p A group of people excited about an opportunity is the ideal source of support to take your project to the next level.  
  %p If your goals are well communicated, your campaign can spread quickly to large numbers of people and therefore, ever larger groups of people will contribute to the ultimate success of your project.
  %p We have integrated a number of easy to use content creation and social sharing tools, both of which help your project to make a positive impression upon potential supporters.
  %h3 How does RoundSeed work?
  %p The process starts with you, the creator, who has an opportunity to start something special. You seed the process by clearly describing your project or campaign, why it’s such an amazing opportunity, product, service or cause; its goal, and what you need to do to achieve it.
  %ul
    %li
      %strong Engage others.
      Help your project take flight. The first step of roundseeding is typically to share your goal with those people who know you best, such as your friends and family. This first round of people knows your passion for your project, trust and believe in your, and therefore will represent your first round of potential backers. In turn, they will be also be the first to seed your project to a second round of backers – 
      %em their
      connections.
    %li
      %strong You were just roundseeded!
      Some of these new connections may not know you, or be as familiar with your passion, but they know their friends, and see that they’re supporters of your project. If your project resonates with them, they may back your project too, and seed a third round of sharing your project with 
      %em their
      connections.
    %li
      %strong Create an experience!
      The only limits to how far the process can go are your passion and the breadth of appeal of your project.  The more passion you have and the broader the appeal, the number of roundseed’s is potentially limitless.
  %h3 Why all or nothing?
  %p For several important reasons:
  %ol
    %li
      %em It won’t ruin your relationship with friends and family.
      Since close friends and family will likely be among your first supporters, their knowing that they will get their funds back should your fundraising come up short, they can be eager and enthusiastic supporters early on.
    %li
      %em It's less risky…for you!
      It’s a great opportunity to test ideas and concepts. While you will certainly love your project, if few others do it may be an indication that ultimately your idea, or the implementation of it, might need some re-working. After all, the end-user is the ultimate judge of value.
    %li
      %em It's motivating.
      If your project generates that sought after buzz among supporters, your supporters will become more engaged in trying to help you get to your funding goal. The more people they seeing getting involved the more enthusiastic they will be.
  %h3 Why do others contribute to projects?
  %ul
    %li
      %strong To be a part of something they value.
      The opportunity to be part of a project, no matter how large or small a contribution is a rewarding experience.
    %li
      %strong To see success happen!
      The story and passion of project owners can be down right infectious. They "get it." The goal or story simply resonates, and backers become impassioned to make it a success.
    %li
      %strong Rewards.
      Creative rewards help too. Rewards that tie back to the project are particularly valuable by underscoring the backer's direct relationship with a campaign.
  %h3 Is this an investment?
  %p Nope, that's illegal - at least for the time being. Project owners retain 100% ownership. Selling an interest in your project is not permitted, currently. Rewards are the "return," which can include the final product, your name in the credits, signage, discounts, etc.
  %h2 Start a Project
  %h3 How do I submit a project?
  %p So easy. Near the top of the page click, "Submit Project." Here we provide forms with instructions under each field.
  %h3 Why a video?
  %p What better way to communicate your enthusiasm to prospective backers? This is your opportunity to hone your pitch and have it delivered consistently, just as you would do it one-on-one. 
  %h3 After I hit submit, will it appear on RoundSeed immediately?
  %p No, it won't. We need to review the content for the obvious reasons, but so long as you're using RoundSeed's platform in the manner of a good citizen, it will go live shortly  after our review.
  %p If we have any questions or concerns, we will follow up with the project owners with suggested fixes.
  %h3 Who can use RoundSeed?
  %p Rather than limit "who" can use RoundSeed and for "what" ends, we have focused on making our platform as flexible as possible so that you get to decide whether RoundSeed suits your purpose. If you aren't sure, you can use our Project Proposal form to run it by us.
  %h3 How much should I raise?
  %p There is no minimum or maximum that you can raise on RoundSeed. Rather, you should determine what your project needs to be successful, as well as consider your network of potential backers. The key is to understand the potential of your network and how your project and rewards will appeal to them. 
  %h3 Can I raise more than my goal? 
  %p Yes. Your project remains live through your deadline and can continue to receive backing throughout.
  %h3 What types of projects are most successful?
  %p All types of projects can be successful. The key is conveying your passion, integrity and ability to successfully execute your project in a timely manner.
  %h3 What does it cost to start a project on RoundSeed?
  %p Nothing. Starting a project is 100% free. RoundSeed and our payment processor only earn a modest fee once a project successfully reaches its goal. 
  %h3 Can I edit my project after it goes live?
  %p Yes. Only the deadline, rewards and the purpose must remain the same.
  %h3 Can I cancel my project?
  %p Yes, though you will have to contact us with your reason for requesting your project to be canceled. In this event, your project will remain on the site but it's status will be set to "unfunded."
  %h3 If my project doesn't fund, can I re-submit?
  %p You may. If the original project reached at least 25% of its original goal, it can be resubmitted in its original form. If it reached less than 25%, it should be revised and we will re-evaluate the project. Also, you should consider the following:
  %ul
    %li Launching a new video, acknowledging the shortcomings of the first campaign and the changes that have occurred in the second campaign. 
    %li Be transparent about your budget. Help prospective supporters understand your budget and how the funds sought will help to complete your project, particularly if your goal amount has been changed from the first campaign.
    %li Reach out to your first round supporters. This is essential in order to garner their credits to your first campaigns.
  %h3 How do I share my project with others?
  %p Easy. Once your project is created, you can instantly share it on Facebook and Twitter, as well as paste the campaign to your own website. Each option has been completely styled so that it highlights the quality of your project, and links directly to your campaign on RoundSeed.  
  %h2 Back a Project
  %h3 O que eu preciso fazer pra enviar meu projeto?
  %p Primeiro você tem que entrar no “Envie seu projeto” (fica no canto direito, na parte superior do site). Lá a gente explica direitinho como funciona o Catarse, e te dá algumas dicas pra você montar seu projeto. Depois, é só preencher os campos e enviar o projeto.
  %h2 RoundSeed Items
  %h3 Does RoundSeed have a blog?
  %p Yes, right here: #{link_to t('site.blog'), t('site.blog'), :target => :_blank}.
  %h3 Is RoundSeed on Twitter?
  %p Yes again, #{link_to "@#{t('site.twitter')}", "http://twitter.com/#{t('site.twitter')}", :target => :_blank}.
  %h3 Does RoundSeed have a Facebook page?
  %p You bet. #{link_to 'Here', t('site.facebook'), :target => :_blank}.
  %h3 What about new feature requests?
  %p We love feedback and requests. For this, please click on the "Feedback" button along the left side of the page, or email us #{mail_to t('site.email.contact')}.